---
layout: default
---

<div class="projects">
  {% for proj in site.projects %}
    <article class="project">

      <h1><a href="{{ site.baseurl }}{{ proj.url }}">{{ proj.title }}</a></h1>

      <div class="entry">
        {{ proj.excerpt }}
      </div>

      <a href="{{ site.baseurl }}{{ proj.url }}" class="read-more">Read More</a>
    </article>
  {% endfor %}
</div>

<div class="posts">
  {% for post in site.posts %}
    <article class="post">

      <h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>

      <div class="entry">
        {{ post.excerpt }}
      </div>

      <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a>
    </article>
  {% endfor %}
</div>
